<html>
    <head>
        <meta charset="utf-8">
        <title>우와웅</title>
    </head>
    <body>
        <h2>정보 확인</h2>
        <table border='1'>
            <colgroup>
                <col width='60'><col width='200'><col width='100'>
            </colgroup>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>ID</th>
                    <th>PW</th>
                </tr>
            </thead>
            <tbody>
                <% for(i = 0; i < list.length; i++) { %>
                <tr>
                    <td><%=i+1 %></td>
                    <td><%=list[i].userid %></td>
                    <td><%=list[i].userpw %></td>
                </tr>
                <% } %>
            </tbody>
        </table boader='1'>
        
        <button onclick="location.href='../write'">아이디 추가하기</button>
    </body>
</html>