<html>
  <head>
    <meta charset="utf-8" />
    <title>와아아</title>
  </head>
  <body>
    <h2>정보 입력</h2>
    <form action="/writeAf" method="post">
      ID : <input type="text" name="userid" /><br />
      PW : <input type="text" name="userpw" /><br />
      <!-- 내용 : <textarea name="content"></textarea><br />
      <button type="submit">글쓰기</button> -->
    </form>
  </body>
</html>
